@font-face {
	font-family: 'Vollkorn';
	src: url('Vollkorn-Regular.woff2') format('woff2'),
	url('Vollkorn-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
*{
	box-sizing: border-box;
}
