body {
 background: url(../img/01.jpg) center no-repeat;
 background-size: cover;
 height: 100rem;
 margin: 0;
 padding: 0;
}
.header {
 display: flex;
 height: 5%;
 background-color: #000;
}
.container {
 width: 1152px;
 margin: 0 auto;
}
.text-title {
 margin-top: 10px;
}
.text-header {
 text-align: center;
}
.text-header a {
 color:white;
 font-size: 30px;
 text-decoration: none;
}
.page {
 display: flex;
 height: 45rem;
}
.container-page {
 width: 1152px;
 margin: 0 auto;
}
.page-title h1 {
 font-size: 35px;
 margin: 200px 0 0 10px;
 transition: 1.0s;
}
.footer {
 background:black;
 height: 5%
}
