.nav {
 display: flex;
 justify-content: space-between;
 padding-left: 10px;
 font-size: 18px;
}
.navbar a {
 color:white;
 text-decoration:none;
 margin: 0 5px;
 transition: 1.0s;
}
.navbar a:hover {
 background-color: gray;
}
.contacts a {
 color: white;
 text-decoration:none;
 transition: 1.0s;
 padding-right: 10px;
}
.contacts a:hover {
 background-color: gray;
}
