body {
 background: url(../img/01.jpg) center no-repeat;
 background-size: cover;
 height: 100rem;
 margin: 0;
 padding: 0;
}
.header {
 display: flex;
 height: 5%;
 background-color: #000;
}
.container {
 width: 1152px;
 margin: 0 auto;
}
.text-title {
 margin-top: 10px;
}
.text-header {
 text-align: center;
}
.text-header a {
 color:white;
 font-size: 30px;
 text-decoration: none;
}
.container-page {
 width: 1152px;
 margin: 0 auto;
}
.column {
 display: inline-block;
 padding: 1%;
 width: 20%;
 transition: 1.0s;
}
.column img {
 width: 100%;
}
.footer {
 background:black;
 height: 5%
}